<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376740252240-i1n99u1qbc6oovt2c2h5rbgsv2fatulb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376740252240-i1n99u1qbc6oovt2c2h5rbgsv2fatulb</string>
	<key>API_KEY</key>
	<string>AIzaSyACninu41_q3oFFdIZT3OtFw8ZG1OqLaeU</string>
	<key>GCM_SENDER_ID</key>
	<string>376740252240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>seamless-travel-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>seamless-travel-planner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376740252240:ios:bc407e0e6f6fe0e4c69f55</string>
</dict>
</plist>